/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* Variables declaration*/
:root{
    --primary-color: black;
    --secondary-color: #f3eee0;
    --font-family-1 : "Manrope", sans-serif;
    --font-family-2 : "Lobster", cursive;
}

body, a, p{
    font-family: var(--font-family-1);
    text-decoration: none;
    color: var(--primary-color);
}

h1, h2, h3, h4{
    font-family: var(--font-family-2);
}

body {
    font-size: 1em;
    background: var(--secondary-color);
    margin: 0;
    padding: 0;
    
  }

p{
    font-size: 1.5em;
    font-style: italic;
    margin: auto;
    padding: 5px;
    width: 75%;
    text-align: center;
}
h1 {
    
    font-size: 3em;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
}
h2{
    font-size: 2.5em;
    text-align: center;
    color: var(--primary-color);
    margin-top: 100px;
}

h3,h4{
    font-size: 2em;
}


/*Header*/

.container {
	max-width: 1440px;
	margin-inline:auto;
	padding-inline: 5%;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 260px;
	margin-block: 10px;
}


#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 850px;
	position: relative;
}
.banner-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}

/* Gestion des points du carrousel */

.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
	margin-inline: 5px;
	width: 13px;
	height: 13px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}
.dot_selected {
	background-color: #fff;
}
/* Fin du code CSS pour le carousel */
#banner p {
	font-family: var(--font-family-1);
	font-weight: 900;
	font-size: 50px;
	line-height: 66px;
	color: white;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}
#banner span {
	display: block;
	font-weight: 400;
	font-size: 30px;
}







.banniere{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-image: url("fleurs-arbre.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    margin: auto;
    height: 1024px; 
    color: var(--primary-color);

}

.nav, .footer-nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px;
    font-weight: bold; 
}
.nav{
    flex-direction: row;
    font-size: 1.25em;
}

.banniere p{
    display: flex;
    justify-content: center;
    min-height: 43.25rem;
    align-items: center;
}

/*Main*/
.block-spacer{
    height: 40px;
    background-color: var(--secondary-color);
}

.bandeau-img{
    display: flex;
    flex-direction: row;
}

section img{
    width: 16%
}

/*Footer*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.footer-nav{
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.logo{
    width: 150px;
    height: 150px;
}

/* header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 40px;
    text-align: center;
}
header nav ul li a{
    display: block;
}
header nav ul li a:hover{
    background-color: grey;
    opacity: 0.5;
}

header nav ul li ul li{
    display: none;
}

header nav ul li:hover ul li{
    display:block;
} */

/*a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight : 700;
  }

  .logo{
    border-radius: 10px;  
    width: auto;
    height: 40px;  
  }

  .logoX{
    display: flex;
    width: auto;
    height: 35px;

  }
 header,
 footer{
  padding: 20px 50px 20px 50px;
 }

 section{
  padding: 30px;
 }

 .conteneur{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
 }

 fieldset {
  border: none;
  background-color: #C2B0F9;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 20px;
}

legend {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
}
